<table class="table table-stripped">
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Action</th>
            <th>Action</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees">
            <td>{{employee.id}}</td>
            <td>{{employee.firstName}}</td>
            <td>{{employee.lastName}}</td>
            <td><img src={{employee.emailId}}/></td>
            <td><button (click)="updateEmployee(employee.id)" class="btn btn-dark">Update</button></td>
            <td><button (click)="deleteEmployee(employee.id)" class="btn btn-danger">Delete</button></td>
            <td><button (click)="employeeDetails(employee.id)" class="btn btn-info">Details</button></td>
            
        </tr>
    </tbody>
</table>
